<section>
  <h1>Hola soy {{ name }}</h1>
  <h2>Mis tecnologias favoritas:</h2>

  <ul>
    {{#each favorites}}
      <li>{{ this }}</li>
    {{/each}}
  </ul>

  <h3>Algunos de mis cursos</h3>

  <ul>
    {{#each courses}}
      <li>{{ title }}</li>
    {{/each}}
  </ul>

</section>